[border], .border {
  border: 1px solid @color-border;
}
.bottom-border {
  border-bottom: 1px solid @color-border;
}
.top-border {
  border-top: 1px solid @color-border;
}

//focused borders are done with a shadow
.focused-border {
  .box-shadow(0px 0px 1px 0px @color-focus-border inset);
}
.bottom-focused-border {
  border-bottom: 1px solid @color-focus-border;
}
.focused-highlight {
  .box-shadow(0px 0px 2px -1px @color-focus-border inset);
  background-color: @color-focus;
}

//active border, used to indicate state, particularly for ui-tab
.active-border {
  border-top: 0.2em solid @color-active-border;
}

border {
  display: flex;
  flex: 1;
  .border;
}
