@import "./variables.less";

@white: #fff;
@off-white: #f5f5f5;
@black: #1e1e1e;
@dark-grey: #323232;
@grey: #b1b1b1;
@light-grey: #e6e6e6;
@hairline-grey: fade(@black, @justahint);
@hairline-white: fade(@white, @justahint);
@disabled-grey: fade(@black, @justahint);
@disabled-white: fade(@white, @justahint);

@red: #ef272d;
@secondary-red: #e00202;
@tertiary-red: #fddfe0;

@orange: #fc930d;
@secondary-orange: #f9800a;
@tertiary-orange: #ffefdb;

@yellow: #ffda1f;
@secondary-yellow: #ffcc13;
@tertiary-yellow: #fff9de;

@green:#bbc721;
@secondary-green: #99ac0f;
@tertiary-green: #f5f7de;

@blue: #0076bc;
@secondary-blue: #004fa6;
@tertiary-blue: #d9ebf5;

@indigo: #663399;
@secondary-indigo: #4c267f;
@tertiary-indigo: #e8e1f0;

@violet: #993399;
@secondary-violet: #7a247a;
@tertiary-violet: #f0e1f0;
