dl, ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  border-bottom: 1px dotted @hairline-grey;
}

li[dotted] {
  list-style-type: none;
  &:before {
    content: '\25E6';
    margin-right: @margin;
  }
}

li:last-child {
  border-bottom: 0;
}


dt {
  display: block;
}

dd {
  display: inline-block;
  margin: 0;
  padding-left: 1em;
  font-size: 0.62em;
  line-height: 1em;
}
